{% extends 'base.html' %}
{% block title %}Записи избранных авторов{% endblock %}
{% block content %}
{% load thumbnail %}
{% load cache %}
  <h1>Записи избранных авторов</h1>
  <li>
    Всего постов у всех авторов в подписке: {{ page_count }}
</li>
  {% include 'posts/includes/switcher.html' %}
  {% for post in page_obj %}
    <article>
        <ul >
          <li>
            Автор: {{ post.author.get_full_name }} - {{ post.author.get_username }} 
            <span>(<a href="{% url 'posts:profile' post.author.get_username %}">посты пользователя</a>)</span>
          </li>
          <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
          
        </ul>
        {% thumbnail post.image "900x450" crop="top" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p>{{ post.text }}</p>
        <p><a href="{{ post.get_absolute_url }}">подробная информация </a></p>
        {% if post.group is null %}
          <p> Нет группы </p>
        {% else %}       
            <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы: {{ post.group }}</a>
        {% endif%}
    </article>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
{% include 'posts/includes/paginator.html' %}
{% endblock %} 